<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- putting this kind of info in here is suuuuuper unsecure -->
        <!-- copied here from the TellerUI project to enable testing against encryption -->
        <add key="encryptionKey" value="password" />
        <add key="encryptionSalt" value="Tl@s"/>
    </appSettings>
</configuration>